.navbar{
    list-style-type: none;
    float:right;
    /*background-color: yellowgreen;*/
}

#signInButton{
    background-color: #1a73e8;
    color:white;
    padding: 7px 24px 7px 24px;
}

.inputContainer{
    height: 400px;
    width: 650px;
    /*background-color: burlywood;*/
    margin:auto;
}

.logo{
    display: block;
    margin: auto;
}

.searchIcon{
    height: 20px;
    position: relative;
    top: 37px;
    left: 24px;
    opacity: 0.35;
}

input{
    display: block;
    margin: auto;
    height: 40px;
    width: 580px;
    border-radius: 40px;
    padding-left: 50px;
}

button{
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: rgba(0, 0, 0, 0.74);
    margin: 0;
    padding: 7px 15px 7px 15px;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
}

.searchButtons{
    height: 30px;
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
